<header>
  <!-- <nav id="navbar">
    <ul id="navbar-top">
      <li><%#= link_to "HOME", root_path, class: "nav-link-1" %></li>
      <li>
	<%#= link_to "ABOUT", about_path, class: "nav-link-1"  %>
	<ul>
	  <li><%#= link_to "Vision/Mission", about_path, class: "nav-link-2" %></li>
	  <li><%#= link_to "Discipleship", about_discipleship_path, class: "nav-link-2" %></li>
	  <li><%#= link_to "History", "#", class: "nav-link-2" %></li>
	  <li><%#= link_to "Church Leadership", about_church_leadership_path, class: "nav-link-2" %></li>
	  <li><%#= link_to "Church", "#", class: "nav-link-2" %></li>
	</ul>
      </li>
      <li>
	<%#= link_to "MINISTRIES", "#", class: "nav-link-1" %>
        <ul>
          <li><%#= link_to "USC", "#", class: "nav-link-2" %></li>
          <li><%#= link_to "UCLA", ucla_path, class: "nav-link-2" %></li>
          <li><%#= link_to "UCI", "#", class: "nav-link-2" %></li>
          <li><%#= link_to "UCB", "#", class: "nav-link-2" %></li>
        </ul>
      </li>
      <li>
	<%#= link_to "PROGRAMS", "#", class: "nav-link-1" %>
        <ul>
          <li><%#= link_to "Summer Training Program", "#", class: "nav-link-2" %></li>
          <li><%#= link_to "VSET", "#", class: "nav-link-2" %></li>
          <li><%#= link_to "Special Events", "#", class: "nav-link-2" %></li>
        </ul>
      </li>
      <li><%#= link_to "CONTACT US", "#", class: "nav-link-1" %></li>
    </ul>
  </nav>-->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
	<h1><%= link_to "ICA", root_path %></h1>
	<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="right">
	<li><%= link_to "HOME", root_path, class: "fast-color-trans" %></li>
	<li class="has-dropdown">
	  <%= link_to "ABOUT", about_path %>
	  <ul class="dropdown">
	    <li><%= link_to "Vision/Mission", about_path %></li>
	    <li><%= link_to "Discipleship", about_discipleship_path %></li>
	    <li><%= link_to "History", "#" %></li>
	    <li><%= link_to "Church Leadership", about_church_leadership_path %></li>
	    <li><%= link_to "Church", "#" %></li>
	  </ul>
	</li>
        <li class="has-dropdown">
          <%= link_to "MINISTRIES", about_path %>
          <ul class="dropdown">
            <li><%= link_to "USC", "#" %></li>
            <li><%= link_to "UCLA", ucla_path %></li>
            <li><%= link_to "UCI", "#" %></li>
            <li><%= link_to "UCB", "#" %></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <%= link_to "PROGRAMS", about_path %>
          <ul class="dropdown">
            <li><%= link_to "Summer Training Program", "#" %></li>
            <li><%= link_to "VSET", "#" %></li>
            <li><%= link_to "Special Events", "#" %></li>
          </ul>
        </li>
	<li><%= link_to "CONTACT US", contact_path %></li>
      </ul>
    </section>
  <nav>
</header>
