<header>
  <nav id="navbar">
  <%= link_to "HOME", root_path %>
  <%= link_to "ABOUT", "#"  %>
  <%= link_to "MINISTRIES", "#" %>
  <%= link_to "PROGRAMS", "#" %>
  <%= link_to "CONTACT US", "#" %>
  </nav>
</header>
