<header>
  <nav id="navbar">
    <ul id="navbar-top">
      <li><%= link_to "HOME", root_path, class: "nav-link-1" %></li>
      <li>
	<%= link_to "ABOUT", about_path, class: "nav-link-1"  %>
	<ul>
	  <li><%= link_to "Vision/Mission", "#", class: "nav-link-2" %></li>
	  <li><%= link_to "Discipleship", "#", class: "nav-link-2" %></li>
	  <li><%= link_to "History", "#", class: "nav-link-2" %></li>
	  <li><%= link_to "Church", "#", class: "nav-link-2" %></li>
	</ul>
      </li>
      <li>
	<%= link_to "MINISTRIES", "#", class: "nav-link-1" %>
        <ul>
          <li><%= link_to "USC", "#", class: "nav-link-2" %></li>
          <li><%= link_to "UCLA", ucla_path, class: "nav-link-2" %></li>
          <li><%= link_to "UCI", "#", class: "nav-link-2" %></li>
          <li><%= link_to "UCB", "#", class: "nav-link-2" %></li>
        </ul>
      </li>
      <li>
	<%= link_to "PROGRAMS", "#", class: "nav-link-1" %>
        <ul>
          <li><%= link_to "Summer Training Program", "#", class: "nav-link-2" %></li>
          <li><%= link_to "VSET", "#", class: "nav-link-2" %></li>
          <li><%= link_to "Special Events", "#", class: "nav-link-2" %></li>
        </ul>
      </li>
      <li><%= link_to "CONTACT US", "#", class: "nav-link-1" %></li>
    </ul>
  </nav>
</header>
